<li><%= link_to("Home".upcase,"#")%> </li>
<li><%= link_to("About".upcase,"#")%> </li>
<li><%= link_to("FEATURES".upcase,"#",class:"dropdown-toggle",data:{toggle:"dropdown-submenu"})%></li>
<%if false%>
  <li><%=link_to "All Properties","#"%></li>
  <li><%= link_to("Log Out".upcase,"#", method: "delete",class:"btn")%></li>
<%else%>
  <li><%= link_to("Log In/Sign Up".upcase,"#",class:"btn")%> </li>
<%end%>
