<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:title)%></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="isMobile" content="<%= browser.device.mobile?%>">
    <meta name="theme-color" content="#d30303">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://code.getmdl.io/1.3.0/material.min.js" async></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body>
    <%= render 'layouts/header' %> 
    <%= yield %>
  </body>
</html>
