<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=yield(:title)%></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FE1126">
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= favicon_link_tag 'logo.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %> 
    <%if !flash.empty?%>
      <ul class="collection collection-no-margin">
      <% flash.each do |message_type, message| %>
        <%if message_type == "notice"%>
          <li class="blue lighten-4 blue-text text-accent-4 collection-item alert-<%=message_type%>"><i class="tiny material-icons">announcement</i><%=message%></li>
        <%elsif message_type == "alert"%>
          <li class="red lighten-4 red-text text-accent-4 collection-item alert-<%=message_type%>"><i class="tiny material-icons">error_outline</i><%=message%></li>
        <%else%>
          <li class="yellow lighten-4 yellow-text text-accent-4 collection-item alert-<%=message_type%>"><i class="tiny material-icons">error_outline</i><%=message%></li>
        <%end%>
        
      <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
